<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="book" class="com.gavin.pojo.Book" init-method="initBook" destroy-method="destroyBean">
       <property name="b_name" value="java"/>
</bean>
<bean id="process" class="com.gavin.ProcessBean.ProcessBean"/>

</beans>